body {
  font-family: "Muli", sans-serif;
}
.title-page {
  text-align: center;
  margin-top: 60px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  /* margin-top: 40px; */
  padding-right: 150px;
}
.kolom-register {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto;
}
.footer-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
